.schedule {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    transition: all 0.3s ease;
}

.schedule__content {
    padding: 2em;
}

.schedule__dot-line {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.schedule__dot {
    background-color: #3b9fe2;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
}

.schedule__dot--grey {
    background-color: #ccc;
}

.schedule__dot--black {
    background-color: #1e1e1e;
}

.schedule__dot--square {
    border-radius: 0;
}

.schedule__line {
    background-color: #3b9fe2;
    width: 1px;
    height: 70px;
}

.schedule__line--half {
    height: 35px;
}

.schedule__line--grey {
    background-color: #ccc;
}

.schedule__info {
    width: calc(100vw - 100px);
    position: absolute;
    left: 30px;
    top: -10px;
}

.schedule__paragraph {
    margin: 0;
    line-height: 1.4;
}

.schedule__paragraph--time {
    color: #ccc;
    font-size: 0.8rem;
}

.schedule__toggle {
    height: 5px;
    background-color: #5ab0fd;
    position: relative;
}

.schedule__toggle-button {
    height: 28px;
    border-radius: 8px 8px 0 0;
    background-color: #5ab0fd;
    width: 70px;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    text-align: center;
}

.schedule__toggle-button i {
    font-size: 20px;
    margin-top: 6px;
    color: #fff;
}

.button {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    background: #fff;
}

.button-primary {
    border: 1px solid #5ab0fd;
    color: #5ab0fd;
}